@font-face {
  font-family: 'fcfont';
  src:  url('fonts/fcfont.eot?gyj5h0');
  src:  url('fonts/fcfont.eot?gyj5h0#iefix') format('embedded-opentype'),
    url('fonts/fcfont.ttf?gyj5h0') format('truetype'),
    url('fonts/fcfont.woff?gyj5h0') format('woff'),
    url('fonts/fcfont.svg?gyj5h0#fcfont') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'fcfont' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-logo:before {
  content: "\e900";
}
.icon-weijinsuo:before {
  content: "\61";
}
.icon-home:before {
  content: "\e902";
}
.icon-home2:before {
  content: "\e903";
}
.icon-home3:before {
  content: "\e904";
}

