@charset "UTF-8";
/*html,body,ol,ul,h1,h2,h3,h4,h5,h6,p,th,td,dl,dd,form,fieldset,legend,input,textarea,select,header,nav{margin:0;padding:0}*/
*{margin:0;padding:0}
a{text-decoration:none}
a:hover{text-decoration:none}
em{font-style:normal}
li{list-style:none}
img{border:0;vertical-align:middle}
.layout{
    min-width: 320px;
    max-width: 640px;
    margin: 0 auto;
    min-height: 500px;
    position: relative;
    font-family: Helvetica,STHeiti,Droid Sans Fallback;
    background-color: #fafafa;
}
header{
    background: url(image/headerbg_v2.png) 139px top no-repeat;
    background-size:141px 44px;
    height: 44px;
    border-bottom: 2px solid #317ecb;
    width: 100%;
}
header a{
    display: inline-block;
    width: 102px;
    height: 30px;
    background: url(image/logo.png)no-repeat 0 0;
    background-size: 102px 30px;
    margin: 7px 0 0 10px;
}
header span{
    font-size: 18px;
    width: 42px;
    background: #4998e7;
    border-radius: 5px;
    color: #fff;
    float: right;
    height: 24px;
    line-height: 24px;
    margin: 12px 10px 0 0;
    text-align: center;
}

nav{
    width: 100%;
    background: #4998e7;
    padding: 10px 0;
    overflow: hidden;
    border-bottom: 2px solid #317ecb;
}
nav ul li{
    float: left;
    width: 20%;
    line-height: 30px;
    float: left;
    font-size: 1.125em;
    display: inline-block;
    text-align: center;
}
nav li a {
    display: block;
    color: #fafafa;
}
nav #tx_nav li:nth-child(5) a{
    position: relative;
}
nav #tx_nav li:nth-child(5) a::after{
    content: "";
    margin-top: 14px;
    border-color: #fff #4998e7 #4998e7;
    position: absolute;
    display: inline-block;
    width: 0;
    height: 0;
    line-height: 0;
    font-size: 0;
    color: #fafafa;
    border-style: solid;
    border-width: 5px;
}
nav #tx_nav2{
    display: none;
}
nav #tx_nav2 li:nth-child(5) a{
    position: relative;
}
nav #tx_nav2 li:nth-child(5) a::after{
    content: "";
    margin-top: 6px;
    border-color: #4998e7 #4998e7 #fff;
    position: absolute;
    display: inline-block;
    width: 0;
    height: 0;
    line-height: 0;
    font-size: 0;
    color: #fafafa;
    border-style: solid;
    border-width: 5px;
}
.banner{
    width: 100%;
    overflow: hidden;
    position: relative;
}
.banner #tx_banner{
    width: 400%;
    -webkit-transform: translateX(-25%);
    transform: translateX(-25%);
}

.banner ul li{
    float: left;
    width: 25%;
}
.banner ul li a{
    display: block;
    width: 100%;
    min-height: 165px;
    text-align: center;
    position: relative;
}
.banner ul li a img{
    max-width: 100%;
}


.banner ul li a h2{
    font-size: 1em;
    height: 32px;
    line-height: 32px;
    padding: 0 36px 0 0;
    color: #fafafa;
    font-weight: 400;
    text-shadow: 1px 1px 1px #000;
    background: -webkit-linear-gradient(top,rgba(0,0,0,0),rgba(0,0,0,.9));
    background: linear-gradient(top,rgba(0,0,0,0),rgba(0,0,0,.9));
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}
.banner .tx_icon {
    padding: 12px 0;
    width: 40px;
    position: absolute;
    right: 0;
    bottom: 0;
}

.banner .tx_icon li {
    float: left;
    width: 6px;
    height: 6px;
    background: #aaa;
    margin-right: 7px;
}
.banner .tx_icon li.now{
    background-color: #4998e7;
}
.module{
    width: 100%;
    overflow: hidden;
}
.module ul{
    overflow: hidden;
    padding: 5px 8px;
}
.module ul li{
    overflow: hidden;
    box-shadow: 0 1px 1px #fff;
    height: 35px;
    line-height: 35px;
    min-width: 234px;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: break-word;
    position: relative;
    border-bottom: 1px solid #eceef0;
}
.module ul li strong,.module ul li span {
    font-size: 1.0625em;
    font-style: normal;
    font-weight: 400;
    position: relative;
}
.module ul li strong a{
    color:#458fce;
}
.module ul li strong a::after{
    content: "|";
    color: #d5d5d5;
    font-size: 1em;
    margin: 0 6px;
}
.module ul li span a{
    color: #111;
}
.news{
    width: 100%;
    overflow: hidden;
}
.news .news_hd{
    height: 38px;
    border-top: 2px solid #9ac7ed;
    background: url(image/headbg.png) no-repeat left -31px;
    background-size:320px 62px;
}
.news .news_hd h2{
    display: inline-block;
    width: 64px;
    height: 38px;
    color: #2a70be;
    font-size: 1.125em;
    text-align: center;
    line-height: 38px;
    font-weight: 400;
    float: left;
    cursor: pointer;
}
.news .news_hd h2.current {
    color: #c14545;
    border-top: 2px solid #2a70be;
    margin-top: -2px;
    background: url(image/tab_ui.png) no-repeat left top;
    background-size: 64px 39px;
}
.news .content{
    width: 400%;
    padding-bottom: 23px;
    overflow: hidden;
}
.news .content .panel {
    width: 25%;
    position: relative;
    float: left;
}
.news .content .panel .list{
    padding: 0 8px;
}
.news .content .panel .list ul li{
    overflow: hidden;
    box-shadow: 0 1px 1px #fff;
    border-bottom: 1px solid #eceef0;
}
.news .content .panel ul li.lite h2{
    height: 35px;
    line-height: 35px;
    font-size: 1.125em;
    font-weight: 400;
}
.news .content .panel ul li.lite h2 a {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #000;
}
.flag {
    display: inline-block;
    margin-right: 4px;
    width: 24px;
    height: 14px;
    background: url(image/flagicon.png) no-repeat;
    background-size: 168px 14px;
    vertical-align: -1px;
}
i{font-style: italic;}
.flag4{
    background-position: -72px 0;
}
.news .content .panel .more {
    height: 33px;
    line-height: 33px;
    margin: 0 8px;
    border: 1px solid #efefef;
    background-color: #f6f5f5;
    text-align: center;
}
.news .content .panel .more a{
    color:#b4b4b4;
}
.news .content .panel .more span{
    font-size: 1em;
}
.news .content .panel .more span::after{
    content: "";
    display: inline-block;
    width: 21px;
    height: 21px;
    vertical-align: -5px;
    margin-left: 5px;
    background-image: url(image/icon_v2.png);
    background-repeat: no-repeat;
    background-position: -63px 0;
    background-size: 119px 21px;
}



